<!DOCTYPE html>
<title>Cool Jams</title>

    <h1>Search: {{ artist_name }}</h1>
    <img src="{{ image }}" width="450" height="375">
    <h3>Info: </h3>
    <div style="width: 700px; height: 50px; font-size: 14px; overflow: auto;">{{ info }}</div>

    <iframe src="{{ media }}"
            width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <P>Clips</P>
    {% for title in song_titles %}
        <P>Song: {{ title }}</P>
    {%  endfor %}
        {% for url in song_urls %}
            <iframe src="{{ url }}"
                    width="750" height="50" frameborder="0" allowfullscreen></iframe>
        {% endfor %}