# the one thing we have to ignore in every python project
.idea

# in case we want to use sqlite integration
sqlite3.exe

# a small class file to hold secure things we don't want on github
project/keys.py

# make a python file called scratchpad if you want to test small snippets without
# running either unit tests or the whole program
project/scratchpad.py

# virtual environment should be ignored
project/venv

# ignoring database as we want caching to be local to machines, not global
project/cache_database

# recommended ignores from the web
project/__pycache__/
*.pyc
